{% load static %}

<!-- -------------------------- USER DELETE MODAL -------------------------- -->

<div class="modal" id="company-delete-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Company</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method='POST' action="{% url 'delete_company' company.company_id %}">

                <div class="modal-body">
                    {% csrf_token %}
                    <p>Do you want to delete this company?</p>
                    <div style="text-align: center"><b>{{ company.name }}</b></div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </form>

        </div>
    </div>
</div>