/* ------------------------------- OLD SIDEBAR ------------------------------ */

/* #sidebar-icon {
	position: relative;
	display: table-cell;
	width: 60px;
	height: 60px;
	text-align: center;
	vertical-align: middle;
	font-size: 20px;
}

.main-menu:hover, nav.main-menu.expanded {
	width: 250px;
	overflow: visible;
}

.main-menu {
	background: #f8f9fa;
	border-right: 1px solid #e5e5e5;
	position: fixed;
	top: 0;
	bottom: 0;
	height: 100%;
	left: 0;
	width: 60px;
	overflow: hidden;
	-webkit-transition: width .05s linear;
	transition: width .05s linear;
	-webkit-transform: translateZ(0) scale(1, 1);
	transform: translateZ(0) scale(1, 1);
	z-index: 1000;
}

.main-menu>ul {
	margin: 7px 0;
}

.main-menu li {
	position: relative;
	display: block;
	width: 250px;
}

.main-menu li>a {
	position: relative;
	display: table;
	border-collapse: collapse;
	border-spacing: 0;
	color: #999;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	text-decoration: none;
	-webkit-transform: translateZ(0) scale(1, 1);
	transform: translateZ(0) scale(1, 1);
	-webkit-transition: all .1s linear;
	transition: all .1s linear;
}

.main-menu .nav-icon {
	position: relative;
	display: table-cell;
	width: 60px;
	height: 36px;
	text-align: center;
	vertical-align: middle;
	font-size: 18px;
}

.main-menu .nav-text {
	position: relative;
	display: table-cell;
	vertical-align: middle;
	width: 190px;
	font-family: 'Open Sans', sans-serif;
}

.main-menu>ul.logout {
	position: absolute;
	left: 0;
	bottom: 0;
}

.no-touch .scrollable.hover {
	overflow-y: hidden;
}

.no-touch .scrollable.hover:hover {
	overflow-y: auto;
	overflow: visible;
}

a:hover, a:focus {
	text-decoration: none;
}

nav {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

nav ul, nav li {
	outline: 0;
	margin: 0;
	padding: 0;
}

.main-menu li:hover>a, nav.main-menu li.active>a {
	color: white;
	background-color: #007bff;
}

.area {
	float: left;
	background: #e2e2e2;
	width: 100%;
	height: 100%;
} */

/* ------------------------------- NEW SIDEBAR ------------------------------ */

.screen-overlay {
    height: 100%;
    z-index: 30;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(34, 34, 34, 0.6);
    transition: opacity .2s linear, visibility .1s, width 1s ease-in;
}

.screen-overlay.show {
    transition: opacity .5s ease, width 0s;
    opacity: 1;
    width: 100%;
    visibility: visible;
}

.offcanvas {
	width: 250px;
	overflow-y: hidden;
    visibility: hidden;
    transform: translateX(-100%);
    transition: all .2s;
    border-radius: 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1200;
    background-color: #fff;
    overflow-y: scroll;
    overflow-x: hidden;
}

.offcanvas.show {
    visibility: visible;
    transform: translateX(0);
    transition: transform .2s;
}

.dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
}

.dropdown-btn {
    text-decoration: none;
    display: block;
    width: 100%;
    cursor: pointer;
    outline: none;
}

a.list-group-item {
    color: rgba(0, 0, 0, .9);
}

a.list-group-item:hover {
    background-color: #eaeaea;
    text-decoration: none;
}

a.list-group-item.dropdown-btn.active:hover, a.list-group-item.dropdown-btn.active:focus {
    background-color: #007bff;
    text-decoration: none;
}

.nav-text {
	position: relative;
	display: table-cell;
	vertical-align: middle;
	width: 190px;
	font-family: 'Open Sans', sans-serif;
}